.header {
  display: flex;
  justify-content: space-around;
  color: #fff;
  background-color: #b24;
  height: 200px;
}

.image {
  width: 50%;
  max-width: 400px;
}

.breaker {
  font-size: large;
  color: #fff;
  padding-left: 10px;
  background-color: #810c35;
}
